@{
    ViewBag.Title = "About Lerman";
}
<div class="jumbotron text-center">
    <h1>Lerman</h1>
    <p class="lead">Free online tool for learning english.</p>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>
                Żeby zobaczyć jak to działa, klikamy po prostu na nazwę książki, wybrany unit i voila :)
                Słówka są podzielona losowo na grupy po 30 słów. Jest podane polskie znaczenie.
                Po kliknięciu na pytajnik pojawia się angielski odpowiednik oraz wybór umiem / nie umiem.
                Czyli jak umiecie klikacie "umiem" i słówko wypada z puli.
                I tak do wyczerpania tej puli 30 słówek, po której pojawia się następna.
                Jest tam już jakieś 5000 słówek wraz z tłumaczeniem.
                Czy są jakieś błędy? Są:) Czy zrobiłem jakieś literówki? Siur:)
                Jest to wersja testowa i bardzo podstawowa, ciągle to rozbudowujemy bardzo zależy mi na Waszej opinii.
            </p>
        </div>
    </div>
</div>
