@model List<Synergy.Lerman.Realm.Books.Book>
@{
    ViewBag.Title = "Lerman books";
}

<div>
    <div class="panel panel-default text-center">
        <div class="panel-heading">
            <h1>Books</h1>
        </div>
        <div class="panel-body">
            @foreach (var book in this.Model)
            {
                <a type="button" role="button" class="btn btn-primary btn-lg" style="margin-bottom:10px"
                   href="@Url.Action(nameof(HomeController.Book), "Home", new { name = book.Name })">
                    @book.Name <span class="badge">@book.GetDisplayCategoriesCount()</span>
                    &raquo;
                </a>
            }
        </div>
    </div>
</div>
